{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-lg mt-3">
    <p class="text-center" id="infoText"></p>
    <h5 class="text-center">{{movie_title}}</h5>
    <p class="text-center">You can pick up to 6 seats/tickets</p>
    <div class="row">
        <div class="col-12">
            {% for row in movie_seats %}
            <div class="row d-flex justify-content-evenly">
                {% for seat in row %}
                    <div 
                        {% if seat.is_empty == 1 %}
                        class="box empty_seat border inv-link" 
                        style="background-color:green;"
                        {% else %}
                        class="box full_seat border" 
                        style="background-color:red;"
                        {% endif %}
                        >
                        {{seat.seat_number}}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="row d-flex justify-content-center">
                <button class="btn btn-primary my-3 w-25" id="confirm">Confirm Booking</button>
            </div>
           
            
        </div>
        
    </div>
</div>

<script src="{% static 'scripts/booking.js' %}"></script>
{% endblock %}