{% extends "base.html" %}
{% load static %}

{% block content %}

<h5 class="text-center mt-3">Confirm Your Order</h5>

<div class="container">
    <div class="row">
        <div class="col-6 mt-4 px-5">
            <p class="text-end mt-1 fw-bold">Movie</p>
            <p class="text-end mt-1 fw-bold">Ticket Price</p>
            <p class="text-end mt-1 fw-bold">Quantity</p>
            <p class="text-end mt-1 fw-bold">Seats</p>
            <p class="text-end mt-1 fw-bold">Total Price</p>
        </div>
        <div class="col-6 mt-4 px-5">
            <p class="text-start mt-1">{{movie_title}}</p>
            <p class="text-start mt-1">{{ticket_price}}</p>
            <p class="text-start mt-1">{{quantity}}</p>
            <p class="text-start mt-1">
                {% for seat in booking_seats %}
                {{seat}}, 
                {% endfor %}
            </p>
            <p class="text-start mt-1">{{total_price}}</p>
            <p id="test"></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="btn btn-primary w-25" id="confirm">Confirm Purchase</button>
    </div>
</div>

<!--Error Modal trigger-->
<button type="button" id="poorModalTrigger" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#poorModal" id="modalTrigger">
    </button>

<!--Error Modal Schenanigans-->
<div class="modal fade" id="poorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your balance is insufficient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Your balance is insufficient to continue purchase, please top up your balance.</p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'balance' %}" class="btn btn-primary">Top Up</a>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'scripts/payment.js' %}"></script>

{% endblock %}